<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <img src="img/site_logo.png" alt="">
        <a href="logIn"><button type="button" id="login"> Log In</button></a>
    <a href="register"><button type="button" id="register">Register</button></a>
    <a href="aboutus"><button type="button" id="aboutus"><b>About Us</b></button></a>
        <h1 id="Loggedin">Not logged in</h1>
    </div>

    <div id="aboutus">
<h1><b><u>About us:</u></b></h1>
<h2><b><i><u>Who are we?</u></i></b></h2>
<p>We are a team of a few dozen people who made this website as a passion project! We have no monitary incentive in running this website, as of right now that is</p>
    <h2><b><i><u>What is this site?</u></i></b></h2>
    <p>This site is simply a forum, thats about that. You can create both categories and posts on here. Whats a category you may ask? Well its just a subject that you can talk about in this site, you can create one or join one! Up to you. You can also create posts in a category, which is self explanitory.</p>
    <h2><b><i><u>What can i talk about here?</u></i></b></h2>
    <p>Anything! this form dosent have any set subject hence why we allow you to create your own categories. We regulate this forum very lightly, and will very rarley take action. But if pushed we will.</p>
    <img src="img/site_logo.png" alt="">
    </div>

    <div id="footer">
        <img src="img/site_logo.png" alt="">
        <p>La foramlita is a forum website for people like you! Feel free to talk about anything here.</p>
        <p>La formalita is a non-profit orginazation.</p>
        <h3>Social medias</h3>
        <p>La_formalita</p>
        <p>@La_formalita</p>
        <img src="img/facebook_logo.png" alt="">
        <img src="img/twitter_logo.png" alt="">
    
        <div id="form">
            <form id="contactus">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>
    
        <input type="submit" value="Submit">
            </form>
        </div>
    
    
    </div>
</body>
</html>