<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div id="header">
    <img src="img/site_logo.png" alt="">
    <a href="logIn"><button type="button" id="login"> Log In</button></a>
    <a href="register"><button type="button" id="register">Register</button></a>
    <a href="aboutus"><button type="button" id="aboutus">About Us</button></a>
    <h1 id="Loggedin">Logged in</h1>
</div>

<div id="main">
    <h1>Popular Categories</h1>
    <button type="button" id="categoryCreate">Create Category?</button>

<div id="category1">
    <h2>Hospital Discussions</h2>
</div>

<div id="category2">
    <h2>Frogs Discussions</h2>
</div>

<div id="category3">
    <h2>Dolphin Discussions</h2>
</div>

<h1>Popular posts</h1>
<button type="button" id="postCreate">Create Post?</button>

<div id="post1">
  <h3>My awesome trip to the hospital yesterday!!!</h3>
  <p>i loved it so much it was so awesome i dont remember what happend but it was awesome</p>
</div>

<div id="post2">
    <h3>Frogs: my favorite animal</h3>
    <p>Frogs are my absolute favorite animal i dont see how the frog haters think diffrent they are brainedwashe....</p>
  </div>

</div>

<div id="post3">
    <h3>Dolphins????</h3>
    <p>have you ever seen one...</p>
  </div>

</div>

<div id="footer">
    <img src="img/site_logo.png" alt="">
    <p>La foramlita is a forum website for people like you! Feel free to talk about anything here.</p>
    <p>La formalita is a non-profit orginazation.</p>
    <h3>Social medias</h3>
    <p>La_formalita</p>
    <p>@La_formalita</p>
    <img src="img/facebook_logo.png" alt="">
    <img src="img/twitter_logo.png" alt="">

    <div id="form">
        <form id="contactus">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>

    <input type="submit" value="Submit">
        </form>
    </div>


</div>


</body>
</html>