<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/functions.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/post.css">
    <link rel="stylesheet" href="css/post2.css">
</head>
<body>
    <div id="container">

<div id="header">
    <div>
    <a href="/">
    <img id="logoimage" src="img/site_logo.png" alt="">
</a>
</div>
    <a href="logIn"><button id="headerbutton1" type="button" id="login"> <div id="login"> Log In</div></button></a>
    <a href="register"><button id="headerbutton2" type="button" id="register"> <div id="register">Register</div></button></a>
    <a href="aboutus"><button id="headerbutton3" type="button" id="aboutus"> <div id="aboutus">About Us</div></button></a>
    <div class="vl"></div>
    <h1 id="Loggedin">not 
        <br>Logged in</h1>

        <hr class="hline">
        
</div>

    <div id="post">
        <h3 id="categoryPost">Category: Frogs</h3>
        <hr class="hline2">
        <h1 id="postHeader">frogs: my favorite animal</h1>
        <img id="sweden" src="img/sweden_flag.jpg" alt="">
        <p id="swedentext">Sweden</p>
        <img id="clock" src="img/clock.png" alt="">
        <p id="timeofpost">2021-04-14</p>
        <hr class="hline3">
        <img id="profilepicture" src="img/profile.png" alt="">
        <p id="profilename">ConvinceLogging342</p>
        <div class="vlMain"></div>
        <p id="postcontent">why would anyone hate them? they are so unique in <br>the animal kingdom <br>i love them very much</p>
    </div>

    <hr class="hline4">

    <div id="reply">
        <label id="postreply" for="reply">Reply:</label>
        <hr class="hline5">
        <input id="replyinput" type="text" name="reply" placeholder="reply..." required>
        <button id="replybutton" type="button" id="reply">Post Reply</button>
    </div>
    
    <div id="footer">
        <img id="footerImage" src="img/site_logo.png" alt="">
        <div id="footerExplination">
        <p>La foramlita is a forum website for people like you! Feel free to talk about anything here.</p>
        <p>La formalita is a non-profit orginazation.</p>
    </div>
        <h3 id="socialmediaHeader">Social medias</h3>
        <div id="socialmediaLinks">
        <p>La_formalita</p>
        <p>@La_formalita</p>
        </div>
        <img id="facebook" src="img/facebook_logo.png" alt="">
        <img id="twitter" src="img/twitter_logo.png" alt="">
    
        <div id="form">
        <h3 id="formHeader">Contact Us</h3>
        <form id="contactus">
            <div id="input">
        <label id="fnameLabel" for="fname"><b>First Name</b></label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label id="lnameLabel" for="lname"><b>Last Name</b></label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label id="subjectLabel" for="subject"><b>Subject</b></label>
        <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>
    </div>
        <input id="submitButton" type="submit" value="Submit">
            </form>
        </div>
    
    
    </div>
    
    </div>
    </body>
    </html>