<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <img src="img/site_logo.png" alt="">
        <button type="button" id="login">Log In</button>
        <button type="button" id="register">Register</button>
        <button type="button" id="aboutus">About Us</button>
        <h1 id="Loggedin">logged in</h1>
    </div>

    <div id="post">
        <h3>Category: Dolphins</h3>
        <h1>Dolphins???????</h1>
        <img src="img/sweden_flag.jpg" alt="">
        <p>Sweden</p>
        <img src="img/clock.png" alt="">
        <p>2021-01-12</p>
        <img src="img/profile.png" alt="">
        <p>EducatorPlums123</p>
        <p>have any of you seen one...</p>
    </div>

    <div id="reply">
        <label for="reply">Reply</label>
        <input type="text" name="reply" placeholder="reply..." required>
        <button type="button" id="reply">Post Reply</button>
    </div>
    
    <div id="footer">
        <img src="img/site_logo.png" alt="">
        <p>La foramlita is a forum website for people like you! Feel free to talk about anything here.</p>
        <p>La formalita is a non-profit orginazation.</p>
        <h3>Social medias</h3>
        <p>La_formalita</p>
        <p>@La_formalita</p>
        <img src="img/facebook_logo.png" alt="">
        <img src="img/twitter_logo.png" alt="">
    
        <div id="form">
            <form id="contactus">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>
    
        <input type="submit" value="Submit">
            </form>
        </div>
    
    
    </div>
    
</body>
</html>