<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <a href="/"><img src="img/site_logo.png" alt=""></a>
        <a href="logIn"><button type="button" id="login"> Log In</button></a>
        <a href="register"><button type="button" id="register">Register</button></a>
        <a href="aboutus"><button type="button" id="aboutus">About Us</button></a>
        <h1 id="Loggedin">Not logged in</h1>
    </div>

    <div id="registersucessful">
        <h1><b><u>Register Sucessful!</u></b></h1>
        <h2>Now....</h2>
        <button type="button" id="loginredirect">Log in</button>
        <h3><b>or..</b></h3>
        <a href="/"><img src="img/site_logo.png" alt=""></a>
    </div>
    
    
    <div id="footer">
        <img src="img/site_logo.png" alt="">
        <p>La foramlita is a forum website for people like you! Feel free to talk about anything here.</p>
        <p>La formalita is a non-profit orginazation.</p>
        <h3>Social medias</h3>
        <p>La_formalita</p>
        <p>@La_formalita</p>
        <img src="img/facebook_logo.png" alt="">
        <img src="img/twitter_logo.png" alt="">
    
        <div id="form">
            <form id="contactus">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>
    
        <input type="submit" value="Submit">
            </form>
        </div>
    
    
    </div>
</body>
</html>