@import './variables.scss';

//general

@mixin position($position) {
    position: $position;
}

@mixin overflow($overflow, $site_height) {
    overflow: $overflow;
    overflow-x: $overflow;
    height: $site_height;
}

@mixin siteRestriction($site_height, $overflow) {
    height: $site_height;
    overflow: $overflow;
}

//header
@mixin headerImg($border_radius, $header_logo_height, $header_logo_width) {
    border-radius: $border_radius;
    height: $header_logo_height;
    width: $header_logo_width;

}

@mixin bgc($bgc) {
    background-color: $bgc;
}

@mixin headerButton($header_button_bgc, $header_button_border, $header_button_color, $header_button_padding, $header_button_text_align, $header_button_text_decoration, $header_button_display, $header_button_fontsize, $header_button_cursor) {
    background-color: $header_button_bgc;
    border: $header_button_border;
    color: $header_button_color;
    padding: $header_button_padding;
    text-align: $header_button_text_align;
    text-decoration: $header_button_text_decoration;
    display: $header_button_display;
    font-size: $header_button_fontsize;
    cursor: $header_button_cursor;
}

@mixin headerText($header_text_login_fontsize, $text_color, $header_text_login_textalign) {
    font-size: $header_text_login_fontsize;
    color: $text_color;
    text-align: $header_text_login_textalign;
}

@mixin verticalLine($header_vl_borderleft, $header_vl_height) {
    border-left: $header_vl_borderleft;
    height: $header_vl_height;
    color: white;
}

@mixin horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width) {
    border: $header_hl_border;
    border-radius: $header_hl_border_radius;
    width: $header_hl_width
}


//index.ejs

@mixin mainVl($main_vl_height, $main_vl_width, $header_vl_borderleft) {
    border-left: $header_vl_borderleft;
    height: $main_vl_height;
    width: $main_vl_width;
    color: white;
}

@mixin mainTextHeaders($main_text_color, $main_text_header_fontsize) {
color: $main_text_color;
font-size: $main_text_header_fontsize;
}

@mixin categories($main_text_color, $main_text_posts_fontsize) {
    color: $main_text_color;
    font-size: $main_text_posts_fontsize;
}

@mixin headlines($main_text_headline_fontsize) {
    font-size: $main_text_headline_fontsize;
}

@mixin text($main_text_fontsize, $main_text_color) {
    font-size: $main_text_fontsize;
    color: $main_text_color;
}



//footer

@mixin footerBgc($footer_bgc) {
    background-color: $footer_bgc;
}

@mixin borderstyle($footer_media_header_fontsize) {
    border-style: $footer_media_header_fontsize;
}

@mixin footerExplination($footer_explination_width) {
    width: $footer_explination_width;
}

@mixin footerMediaHeader($footer_media_header_fontsize) {
    font-size: $footer_media_header_fontsize;
}

@mixin footerMediaText($footer_media_text_fontsize) {
    font-size: $footer_media_text_fontsize;
}

@mixin facebookImg($footer_img_facebook_height, $footer_img_facebook_width) {
    height: $footer_img_facebook_height;
    width: $footer_img_facebook_width;
}

@mixin twitter($footer_img_facebook_height, $footer_img_facebook_width) {
    height: $footer_img_facebook_height;
    width: $footer_img_facebook_width;
}

@mixin footerFormText($footer_footer_form_text) {
    font-size: $footer_footer_form_text;
}

@mixin footerTextarea($footer_textarea_height, $footer_textarea_width) {
    height: $footer_textarea_height;
    width: $footer_textarea_width;
}

@mixin footerSubmit($footer_form_submit_width, $footer_form_submit_height) {
    height: $footer_form_submit_height;
    width: $footer_form_submit_width;
}

@mixin footerWidth($footer_width) {
    width: $footer_width;
}

//media-query

@mixin imgheader($header_mobile_height, $header_mobile_width) {
    height: $header_mobile_height;
    width: $header_mobile_width,
}

@mixin headerButton($header_button_bgc, $header_button_border, $header_button_color, $header_button_padding, $header_button_text_align, $header_button_text_decoration, $header_button_display, $header_mobile_button_fontsize, $header_button_cursor) {
    background-color: $header_button_bgc;
    border: $header_button_border;
    color: $header_button_color;
    padding: $header_button_padding;
    text-align: $header_button_text_align;
    text-decoration: $header_button_text_decoration;
    display: $header_button_display;
    font-size: $header_mobile_button_fontsize;
    cursor: $header_button_cursor;
}

@mixin buttonWidth($header_mobile_button_width) {
    width: $header_mobile_button_width;
}

@mixin hline($header_mobile_hl_width) {
    width: $header_mobile_hl_width;
}
 
@mixin loggedinTextmobile($header_mobile_loggedin_fontsize) {
    font-size: $header_mobile_loggedin_fontsize;
}

@mixin popcategoriesmobile($index_main_header_fontsize) {
    font-size: $index_main_header_fontsize;
}

@mixin mainpostsmobile($index_main_posts_fontsize) {
    font-size: $index_main_posts_fontsize;
}

@mixin vlmain($index_mobile_vlmain_height) {
height: $index_mobile_vlmain_height;
}

@mixin mainText($index_mobile_text_fontsize) {
    font-size: $index_mobile_text_fontsize;
}

@mixin footerMediaFooter($index_mobile_socialmedia_height, $index_mobile_socialmedia_width) {
    height: $index_mobile_socialmedia_height;
    width: $index_mobile_socialmedia_width;
}

@mixin ContactUs($index_mobile_scontactus_fontsize) {
    font-size: $index_mobile_scontactus_fontsize;
}

@mixin formsize($index_mobile_forms_height, $index_mobile_forms_width) {
    height: $index_mobile_forms_height;
    width: $index_mobile_forms_width;
}

@mixin subjecTextarea($index_mobile_textarea_height, $index_mobile_textarea_width) {
    height: $index_mobile_textarea_height;
    width: $index_mobile_textarea_width;
}

@mixin siteRestriction($site_height, $overflow)  {
    height: $index_mobile_site_height;
    overflow: $overflow;
}

@mixin mobileSubmit($footer_form_submit_width, $footer_form_submit_height) {
    height: $footer_form_submit_height;
    width: $footer_form_submit_width;
}


