@import './variables.scss';

//general

@mixin position($position) {
    position: $position;
}

@mixin overflow($overflow, $site_height) {
    overflow: $overflow;
    overflow-x: $overflow;
    height: $site_height;
}

//header
@mixin headerImg($border_radius, $header_logo_height, $header_logo_width) {
    border-radius: $border_radius;
    height: $header_logo_height;
    width: $header_logo_width;

}

@mixin bgc($bgc) {
    background-color: $bgc;
}

@mixin headerButton($header_button_bgc, $header_button_border, $header_button_color, $header_button_padding, $header_button_text_align, $header_button_text_decoration, $header_button_display, $header_button_fontsize, $header_button_cursor) {
    background-color: $header_button_bgc;
    border: $header_button_border;
    color: $header_button_color;
    padding: $header_button_padding;
    text-align: $header_button_text_align;
    text-decoration: $header_button_text_decoration;
    display: $header_button_display;
    font-size: $header_button_fontsize;
    cursor: $header_button_cursor;
}

@mixin headerText($header_text_login_fontsize, $text_color, $header_text_login_textalign) {
    font-size: $header_text_login_fontsize;
    color: $text_color;
    text-align: $header_text_login_textalign;
}

@mixin verticalLine($header_vl_borderleft, $header_vl_height) {
    border-left: $header_vl_borderleft;
    height: $header_vl_height;
    color: white;
}

@mixin horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width) {
    border: $header_hl_border;
    border-radius: $header_hl_border_radius;
    width: $header_hl_width
}


//footer

@mixin footerBgc($footer_bgc) {
    background-color: $footer_bgc;
}

@mixin borderstyle($footer_media_header_fontsize) {
    border-style: $footer_media_header_fontsize;
}

@mixin footerExplination($footer_explination_width) {
    width: $footer_explination_width;
}

@mixin footerMediaHeader($footer_media_header_fontsize) {
    font-size: $footer_media_header_fontsize;
}

@mixin footerMediaText($footer_media_text_fontsize) {
    font-size: $footer_media_text_fontsize;
}

@mixin facebookImg($footer_img_facebook_height, $footer_img_facebook_width) {
    height: $footer_img_facebook_height;
    width: $footer_img_facebook_width;
}

@mixin twitter($footer_img_facebook_height, $footer_img_facebook_width) {
    height: $footer_img_facebook_height;
    width: $footer_img_facebook_width;
}

@mixin footerFormText($footer_footer_form_text) {
    font-size: $footer_footer_form_text;
}

@mixin footerTextarea($footer_textarea_height, $footer_textarea_width) {
    height: $footer_textarea_height;
    width: $footer_textarea_width;
}

@mixin footerSubmit($footer_form_submit_width, $footer_form_submit_height) {
    height: $footer_form_submit_height;
    width: $footer_form_submit_width;
}

@mixin footerWidth($footer_width) {
    width: $footer_width;
}

