@import './functions.scss';
@import './variables.scss';


#loginsucessful {
    left: 410px;
    bottom: 500px;
}

#getstartednow {
    left: 670px;
    bottom: 520px;
}

#logoimagesucess {
    left: 850px;
    bottom: 590px;
}