@import './functions.scss';
@import './variables.scss';

//body
body {
    @include bgc($bgc);
    overflow-x: hidden;
}

#container {
    @include siteRestriction($site_height, $overflow);
}

//header
#logoimage {
@include position($position);
@include  headerImg($border_radius, $header_logo_height, $header_logo_width);
left: -10px;
bottom: 10px;
}

#headerbutton1, #headerbutton2, #headerbutton3 {
    @include position($position);
    @include headerButton($header_button_bgc, $header_button_border, $header_button_color, $header_button_padding, $header_button_text_align, $header_button_text_decoration, $header_button_display, $header_button_fontsize, $header_button_cursor);
    z-index: 1;
}

#headerbutton1 {
bottom: 150px;
left: 350px;
}

#headerbutton2 {
    bottom: 150px;
    left: 500px;
}

#headerbutton3 {
    bottom: 150px;
    left: 650px;
}

#Loggedin {
    @include position($position);
    @include headerText($header_text_login_fontsize, $text_color, $header_text_login_textalign);
   bottom: 490px;
   left: 670px;
}

.vl {
    @include position($position);
    @include verticalLine($header_vl_borderleft, $header_vl_height);
    bottom: 280px;
    left: 1300px;
}

.hline {
    @include position($position);
    @include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
    bottom: 465px;
    right: 300px;
 
}


//index.ejs

.vlMain {
    @include position($position);
    @include mainVl($main_vl_height, $main_vl_width, $header_vl_borderleft);
    bottom: 475px;
    left: 900px;
}

#popCategories {
@include position($position);
@include mainTextHeaders($main_text_color, $main_text_header_fontsize);
bottom: 1500px;
left: 160px;
}

#popPosts {
@include position($position);
@include mainTextHeaders($main_text_color, $main_text_header_fontsize);
bottom: 1800px;
left: 1230px;
}

.hlMain {
@include position($position);
@include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
bottom: 1530px;
}

#category1 {
    
}


//footer

#footer {
    @include position($position);
   @include footerBgc($footer_bgc);
   @include footerWidth($footer_width);
   right: 10px;
   height: 500px;

}

#footerImage {
    @include headerImg($border_radius, $header_logo_height, $header_logo_width);
}

#footerExplination {
    @include position($position);
    @include footerExplination($footer_explination_width);
    bottom: 210px;
    left: 330px;
}

#socialmediaHeader {
    @include position($position);
    @include footerMediaHeader($footer_media_header_fontsize);
    bottom: 430px;
    left: 900px;
}

#socialmediaLinks {
    @include position($position);
    @include footerMediaText($footer_media_text_fontsize);
    bottom: 440px;
    left: 950px;
}

#facebook {
    @include position($position);
    @include facebookImg($footer_img_facebook_height, $footer_img_facebook_width);
    bottom: 528px;
    left: 910px;
}

#twitter {
    @include position($position);
    @include facebookImg($footer_img_facebook_height, $footer_img_facebook_width);
    bottom: 483px;
    left: 880px;
}

#formHeader {
@include position($position);
 @include footerFormText($footer_footer_form_text);
bottom: 646px;
left: 1400px;
}

#fnameLabel {
    @include position($position);
   bottom: 690px;
   left: 1350px;
}

#fname {
    @include position($position);
    bottom: 690px;
    left: 1380px;
}

#lnameLabel {
    @include position($position);
    bottom: 650px;
    left: 1090px;
}

#lname {
    @include position($position);
    bottom: 647px;
    left: 1121px;
}

#subjectLabel {
    @include position($position);
    bottom: 610px;
    left: 830px;
}

#subject {
    @include position($position);
    @include footerTextarea($footer_textarea_height, $footer_textarea_width);
    bottom: 530px;
    left: 885px;
}

#input {
    @include position($position);
    bottom: 36px;
}

#submitButton {
    @include position($position);
    @include footerSubmit($footer_form_submit_width, $footer_form_submit_height);
    bottom: 550px;
    left: 1500px;
}




