body {
  background-color: #2c2b2a;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#container {
  height: 1280px;
  overflow: hidden;
}

#logoimage {
  position: relative;
  border-radius: 8px;
  height: 200px;
  width: 300px;
  left: -10px;
  bottom: 10px;
}

#headerbutton1, #headerbutton2, #headerbutton3 {
  position: relative;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}

#headerbutton1 {
  bottom: 150px;
  left: 350px;
}

#headerbutton2 {
  bottom: 150px;
  left: 500px;
}

#headerbutton3 {
  bottom: 150px;
  left: 650px;
}

#Loggedin {
  position: relative;
  font-size: 50px;
  color: white;
  text-align: center;
  bottom: 490px;
  left: 655px;
}

.vl {
  position: relative;
  border-left: 6px solid white;
  height: 200px;
  color: white;
  bottom: 280px;
  left: 1300px;
}

.hline {
  position: relative;
  border: 4px solid white;
  border-radius: 2px;
  width: 3100px;
  bottom: 465px;
  right: 300px;
}

.vlMain {
  position: relative;
  border-left: 6px solid white;
  height: 1000px;
  width: 30px;
  color: white;
  bottom: 475px;
  left: 900px;
}

#popCategories {
  position: relative;
  color: white;
  font-size: 60px;
  bottom: 1500px;
  left: 160px;
}

#popPosts {
  position: relative;
  color: white;
  font-size: 60px;
  bottom: 2315px;
  left: 1110px;
}

.hlMain {
  position: relative;
  border: 4px solid white;
  border-radius: 2px;
  width: 3100px;
  bottom: 1530px;
}

#category1, #category2, #category3 {
  position: relative;
  color: white;
  font-size: 50px;
}

#category1 {
  bottom: 1570px;
  left: 100px;
}

.hlMain2 {
  position: relative;
  border: 4px solid white;
  border-radius: 2px;
  width: 3100px;
  bottom: 1600px;
}

#category2 {
  bottom: 1630px;
  left: 100px;
}

.hlMain3 {
  position: relative;
  border: 4px solid white;
  border-radius: 2px;
  width: 3100px;
  bottom: 1650px;
}

#category3 {
  bottom: 1680px;
  left: 100px;
}

.hlMain4 {
  position: relative;
  border: 4px solid white;
  border-radius: 2px;
  width: 3100px;
  bottom: 1690px;
}

#headline1 {
  font-size: 30px;
  position: relative;
  bottom: 2330px;
  left: 930px;
}

#text1 {
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 2350px;
  left: 930px;
}

#headline2 {
  font-size: 30px;
  position: relative;
  bottom: 2325px;
  left: 1100px;
}

#text2 {
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 2340px;
  left: 930px;
}

#headline3 {
  font-size: 30px;
  position: relative;
  bottom: 2295px;
  left: 1200px;
}

#text3 {
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 2320px;
  left: 1190px;
}

.logIn {
  background-color: white;
  border: 2px solid black;
  border-radius: 9px;
  height: 500px;
  width: 600px;
  position: relative;
  left: 450px;
  bottom: 370px;
}

#logintextlogin {
  font-size: 30px;
  position: relative;
  left: 250px;
  bottom: 20px;
}

#usernameemailabel {
  font-size: 40px;
  position: relative;
  bottom: 10px;
}

#usernameemailinput {
  position: relative;
  height: 25px;
  width: 250px;
  bottom: 16px;
  left: 20px;
}

#passwordlabel {
  font-size: 40px;
  position: relative;
  top: 50px;
  left: 110px;
}

#passworldinput {
  position: relative;
  height: 25px;
  width: 250px;
  top: 45px;
  left: 134px;
}

#loginInput {
  height: 100px;
  width: 200px;
  font-size: 30px;
  position: relative;
  left: 200px;
  top: 120px;
  bottom: 100px;
}

#emailinputlabel {
  font-size: 40px;
}

#emailinput {
  height: 25px;
  width: 250px;
}

#loginsucessful {
  position: relative;
  font-size: 80px;
  color: white;
  left: 480px;
  bottom: 400px;
}

#getstartednow {
  position: relative;
  color: white;
  font-size: 40px;
  bottom: 420px;
  left: 625px;
}

#logoimagesucess {
  position: relative;
  border-radius: 8px;
  height: 200px;
  width: 300px;
  left: 630px;
  bottom: 400px;
}

#or {
  position: relative;
  color: white;
  font-size: 40px;
  left: 690px;
  bottom: 440px;
}

#loginbuttonsucess {
  position: relative;
}

#footer {
  position: relative;
  background-color: #546a75;
  width: 3000px;
  left: 0px;
  height: 500px;
  bottom: 2234px;
}

#footerImage {
  border-radius: 8px;
  height: 200px;
  width: 300px;
}

#footerExplination {
  position: relative;
  width: 110px;
  bottom: 210px;
  left: 330px;
}

#socialmediaHeader {
  position: relative;
  font-size: 30px;
  bottom: 430px;
  left: 600px;
}

#socialmediaLinks {
  position: relative;
  font-size: 20px;
  bottom: 440px;
  left: 650px;
}

#facebook {
  position: relative;
  height: 25px;
  width: 25px;
  bottom: 528px;
  left: 610px;
}

#twitter {
  position: relative;
  height: 25px;
  width: 25px;
  bottom: 483px;
  left: 580px;
}

#formHeader {
  position: relative;
  font-size: 35px;
  bottom: 646px;
  left: 1100px;
}

#fnameLabel {
  position: relative;
  bottom: 690px;
  left: 1010px;
}

#fname {
  position: relative;
  bottom: 690px;
  left: 1040px;
}

#lnameLabel {
  position: relative;
  bottom: 650px;
  left: 760px;
}

#lname {
  position: relative;
  bottom: 647px;
  left: 791px;
}

#subjectLabel {
  position: relative;
  bottom: 610px;
  left: 510px;
}

#subject {
  position: relative;
  height: 80px;
  width: 172px;
  bottom: 530px;
  left: 565px;
}

#input {
  position: relative;
  bottom: 36px;
}

#submitButton {
  position: relative;
  height: 25px;
  width: 60px;
  bottom: 550px;
  left: 1170px;
}

@media only screen and (max-width: 600px) {
  #logoimage {
    height: 100px;
    width: 150px;
    left: 1px;
  }
  #headerbutton1, #headerbutton2, #headerbutton3 {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
  #headerbutton1 {
    width: 70px;
    top: -90px;
    left: 190px;
  }
  #headerbutton2 {
    width: 70px;
    top: -90px;
    left: 220px;
  }
  #register {
    position: relative;
    right: 25px;
  }
  #headerbutton3 {
    width: 70px;
    top: -90px;
    left: 250px;
  }
  #aboutus {
    position: relative;
    right: 19px;
  }
  #login {
    position: relative;
    right: 10px;
  }
  .hline {
    width: 900px;
    bottom: 340px;
  }
  .vl {
    left: 490px;
  }
  #Loggedin {
    font-size: 15px;
    left: 250px;
    bottom: 355px;
  }
  .hlMain {
    position: relative;
  }
  #popCategories, #popPosts {
    font-size: 30px;
  }
  #category1, #category2, #category3 {
    font-size: 20px;
  }
  .hlMain2 {
    bottom: 960px;
  }
  .hlMain3 {
    bottom: 910px;
  }
  #footer {
    bottom: 1215px;
  }
  .hlMain4 {
    bottom: 1070px;
  }
  #popCategories {
    bottom: 859px;
    left: 10px;
  }
  .vlMain {
    height: 500px;
    left: 285px;
    bottom: 350px;
  }
  #popPosts {
    bottom: 1218px;
    left: 360px;
  }
  #category1 {
    bottom: 880px;
    left: 5px;
  }
  #category2 {
    bottom: 900px;
    left: 5px;
  }
  #category3 {
    bottom: 926px;
    left: 5px;
  }
  #headline1, #headline2, #headline3 {
    font-size: 15px;
  }
  #headline1 {
    bottom: 1210px;
    left: 310px;
  }
  #headline2 {
    bottom: 1207px;
    left: 380px;
  }
  #headline3 {
    bottom: 1210px;
    left: 420px;
  }
  #text1, #text2, #text3 {
    font-size: 10px;
  }
  #text1 {
    bottom: 1220px;
    left: 300px;
  }
  #text2 {
    bottom: 1220px;
    left: 300px;
  }
  #text3 {
    bottom: 1220px;
    left: 415px;
  }
  #footerImage {
    height: 100px;
    width: 150px;
    position: relative;
    left: 6px;
  }
  #footerExplination {
    font-size: 10px;
    bottom: 100px;
    left: 180px;
  }
  #socialmediaHeader {
    font-size: 15px;
    bottom: 202px;
    left: 330px;
  }
  #socialmediaLinks {
    font-size: 10px;
    bottom: 212px;
    left: 354px;
  }
  #facebook {
    height: 12px;
    width: 12px;
    left: 333px;
    bottom: 257px;
  }
  #twitter {
    height: 12px;
    width: 12px;
    left: 317px;
    bottom: 234px;
  }
  #formHeader {
    font-size: 17px;
    left: 482px;
    bottom: 312px;
  }
  #fnameLabel, #lnameLabel, #subjectLabel {
    font-size: 10px;
  }
  #fnameLabel {
    left: 439px;
    bottom: 317px;
  }
  #fname, #lname, #subject {
    height: 10px;
    width: 90px;
  }
  #fname {
    left: 443px;
    bottom: 316px;
  }
  #lnameLabel {
    left: 286px;
    bottom: 293px;
  }
  #lname {
    left: 292px;
    bottom: 290px;
  }
  #subjectLabel {
    left: 133px;
    bottom: 267px;
  }
  #subject {
    height: 40px;
    width: 86px;
    left: 155px;
    bottom: 230px;
  }
  #submitButton {
    height: 25px;
    width: 60px;
    left: 510px;
    bottom: 250px;
  }
  #logintextlogin {
    font-size: 15px;
    left: 130px;
    top: -6px;
  }
  #usernameemailabel {
    font-size: 20px;
  }
  .logIn {
    background-color: white;
    border: 2px solid black;
    border-radius: 9px;
    height: 250px;
    width: 300px;
    left: 130px;
    bottom: 320px;
  }
  #usernameemailinput {
    height: 12px;
    width: 125px;
    left: 4px;
    top: -12px;
  }
  #passwordlabel {
    font-size: 20px;
    left: 53px;
    top: 40px;
  }
  #passworldinput {
    height: 12px;
    width: 125px;
    left: 67px;
    top: 40px;
  }
  #loginInput {
    height: 50px;
    width: 100px;
    font-size: 15px;
    left: 100px;
    top: 80px;
  }
  #container {
    height: 560px;
    overflow: hidden;
  }
  #loginsucessful {
    font-size: 40px;
    left: 170px;
    bottom: 350px;
  }
  #getstartednow {
    font-size: 20px;
    left: 240px;
    bottom: 360px;
  }
  #logoimagesucess {
    height: 100px;
    width: 150px;
    left: 235px;
    bottom: 360px;
  }
  #loginbuttonsucess {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    height: 100px;
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */