@import './functions.scss';
@import './variables.scss';

//body
body {
    @include bgc($bgc);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#container {
    @include siteRestriction($site_height, $overflow);
}

//header
#logoimage {
@include position($position);
@include  headerImg($border_radius, $header_logo_height, $header_logo_width);
left: -10px;
bottom: 10px;
}

#headerbutton1, #headerbutton2, #headerbutton3 {
    @include position($position);
    @include headerButton($header_button_bgc, $header_button_border, $header_button_color, $header_button_padding, $header_button_text_align, $header_button_text_decoration, $header_button_display, $header_button_fontsize, $header_button_cursor);
    z-index: 1;
    
}

#headerbutton1 {
bottom: 150px;
left: 350px;
}

#headerbutton2 {
    bottom: 150px;
    left: 500px;
}

#headerbutton3 {
    bottom: 150px;
    left: 650px;
}

#Loggedin {
    @include position($position);
    @include headerText($header_text_login_fontsize, $text_color, $header_text_login_textalign);
   bottom: 490px;
   left: 655px;
}

.vl {
    @include position($position);
    @include verticalLine($header_vl_borderleft, $header_vl_height);
    bottom: 280px;
    left: 1300px;
}

.hline {
    @include position($position);
    @include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
    bottom: 465px;
    right: 300px;
 
}


//index.ejs

.vlMain {
    @include position($position);
    @include mainVl($main_vl_height, $main_vl_width, $header_vl_borderleft);
    bottom: 475px;
    left: 900px;
}

#popCategories {
@include position($position);
@include mainTextHeaders($main_text_color, $main_text_header_fontsize);
bottom: 1500px;
left: 160px;
}

#popPosts {
@include position($position);
@include mainTextHeaders($main_text_color, $main_text_header_fontsize);
bottom: 2315px;
left: 1110px;
}

.hlMain {
@include position($position);
@include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
bottom: 1530px;
}

#category1, #category2, #category3 {
    @include position($position);
    @include categories($main_text_color, $main_text_posts_fontsize);
}

#category1 {
    bottom: 1570px;
    left: 100px;
}

.hlMain2 {
    @include position($position);
    @include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
    bottom: 1600px;
}

#category2 {
    bottom: 1630px;
    left: 100px;
}

.hlMain3 {
    @include position($position);
    @include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
    bottom: 1650px;
}

#category3 {
     bottom: 1680px;
    left: 100px;
}

.hlMain4 {
    @include position($position);
    @include horizontalLine($header_hl_border, $header_hl_border_radius, $header_hl_width);
    bottom: 1690px;
}

#headline1 {
    @include headlines($main_text_headline_fontsize);
    @include position($position);
    bottom: 2330px;
    left: 930px;
} 

#text1 {
    @include text($main_text_fontsize, $main_text_color);
    @include position($position);
    bottom: 2350px;
    left: 930px;
}

#headline2 {
    @include headlines($main_text_headline_fontsize);
    @include position($position);
    bottom: 2325px;
    left: 1100px;
}

#text2 {
    @include text($main_text_fontsize, $main_text_color);
    @include position($position);
    bottom: 2340px;
    left: 930px; 
}

#headline3 {
    @include headlines($main_text_headline_fontsize);
    @include position($position);
    bottom: 2295px;
    left: 1200px;
}

#text3 {
    @include text($main_text_fontsize, $main_text_color);
    @include position($position);
    bottom: 2320px;
    left: 1190px; 
}


//login.ejs

.logIn {
    @include loginBorder($login_bgc, $border_login_from, $login_border_radius, $login_height, $login_width);
    @include position($position);
    left: 450px;
    bottom: 370px;
}

#logintextlogin {
    @include loginheader($login_fontsize);
    @include position($position);
    left: 250px;
    bottom: 20px;
}

#usernameemailabel {
    @include loginlabel($login_Label_fontsize);
    @include position($position);
    bottom: 10px;
}

#usernameemailinput {
    @include position($position);
    @include inputsize($login_input_height, $login_input_width);
    bottom: 16px;
    left: 20px;
}

#passwordlabel {
    @include loginlabel($login_Label_fontsize);
    @include position($position);
    top: 50px;
    left: 110px;
}

#passworldinput {
    @include position($position);
    @include inputsize($login_input_height, $login_input_width);
    top: 45px;
    left: 134px;
}


#loginInput {
    @include loginButton($login_button_height, $login_button_width, $login_button_fontsize);
    @include position($position);
    left: 200px;
    top: 120px;
    bottom: 100px;
}


//Register.ejs

#emailinputlabel {
    @include loginlabel($login_Label_fontsize);
}

#emailinput {
    @include inputsize($login_input_height, $login_input_width);
}


//footer

#footer {
    @include position($position);
   @include footerBgc($footer_bgc);
   @include footerWidth($footer_width);
  left: 0px;
   height: 500px;
   bottom: 2234px;

}

#footerImage {
    @include headerImg($border_radius, $header_logo_height, $header_logo_width);
}

#footerExplination {
    @include position($position);
    @include footerExplination($footer_explination_width);
    bottom: 210px;
    left: 330px;
}

#socialmediaHeader {
    @include position($position);
    @include footerMediaHeader($footer_media_header_fontsize);
    bottom: 430px;
    left: 600px;
}

#socialmediaLinks {
    @include position($position);
    @include footerMediaText($footer_media_text_fontsize);
    bottom: 440px;
    left: 650px;
}

#facebook {
    @include position($position);
    @include facebookImg($footer_img_facebook_height, $footer_img_facebook_width);
    bottom: 528px;
    left: 610px;
}

#twitter {
    @include position($position);
    @include facebookImg($footer_img_facebook_height, $footer_img_facebook_width);
    bottom: 483px;
    left: 580px;
}

#formHeader {
@include position($position);
 @include footerFormText($footer_footer_form_text);
bottom: 646px;
left: 1100px;
}

#fnameLabel {
    @include position($position);
   bottom: 690px;
   left: 1010px;
}

#fname {
    @include position($position);
    bottom: 690px;
    left: 1040px;
}

#lnameLabel {
    @include position($position);
    bottom: 650px;
    left: 760px;
}

#lname {
    @include position($position);
    bottom: 647px;
    left: 791px;
}

#subjectLabel {
    @include position($position);
    bottom: 610px;
    left: 510px;
}

#subject {
    @include position($position);
    @include footerTextarea($footer_textarea_height, $footer_textarea_width);
    bottom: 530px;
    left: 565px;
}

#input {
    @include position($position);
    bottom: 36px;
}

#submitButton {
    @include position($position);
    @include footerSubmit($footer_form_submit_width, $footer_form_submit_height);
    bottom: 550px;
    left: 1170px;
}

// media-query

@media only screen and (max-width: 600px) {
#logoimage {
    @include imgheader($header_mobile_height, $header_mobile_width);
    left: 1px;
}

#headerbutton1, #headerbutton2, #headerbutton3 {
@include headerButton($header_button_bgc, $header_button_border, $header_button_color, $header_button_padding, $header_button_text_align, $header_button_text_decoration, $header_button_display, $header_mobile_button_fontsize, $header_button_cursor);
}

#headerbutton1 {
    @include buttonWidth($header_mobile_button_width);
top: -90px;
    left: 190px;
}

#headerbutton2 {
    @include buttonWidth($header_mobile_button_width);
    top: -90px;
    left: 220px;
}

#register {
    @include position($position);
    right: 25px;
}

#headerbutton3 {
    @include buttonWidth($header_mobile_button_width);
    top: -90px;
    left: 250px;
}

#aboutus {
    @include position($position);
    right: 19px;
}

#login {
    @include position($position);
    right: 10px;
}

.hline {
    @include hline($header_mobile_hl_width);
bottom: 340px;
}

.vl {
    left: 490px;

}

#Loggedin {
    @include loggedinTextmobile($header_mobile_loggedin_fontsize);
    left: 250px;
    bottom: 355px;
}

.hlMain {
    position: relative;
}

#popCategories, #popPosts {
    @include popcategoriesmobile($index_main_header_fontsize);
}

#category1, #category2, #category3 {
    @include mainpostsmobile($index_main_posts_fontsize);
    
}

.hlMain2 {
    bottom: 960px;
}

.hlMain3 {
    bottom: 910px;
}

#footer {
    bottom: 1215px;    
}

.hlMain4 {
    bottom: 1070px;
}

#popCategories {
    bottom: 859px;
    left: 10px;
  
}

.vlMain {
@include vlmain($index_mobile_vlmain_height);
left: 285px;
bottom: 350px;
}

#popPosts {
    bottom: 1218px;
    left: 360px;
}

#category1 {
    bottom: 880px;
    left: 5px;
}

#category2 {
    bottom: 900px;
    left: 5px;
}

#category3 {
    bottom: 926px;
    left: 5px;
} 

#headline1, #headline2, #headline3  {
    @include loggedinTextmobile($header_mobile_loggedin_fontsize);
}

#headline1 {
bottom: 1210px;
left: 310px;
}

#headline2 {
bottom: 1207px;
left: 380px;
}

#headline3 {
    bottom: 1210px;
left: 420px;
}

#text1, #text2, #text3 {
    @include mainText($index_mobile_text_fontsize);
}

#text1 {
    bottom: 1220px;
    left: 300px;
}

#text2 {
    bottom: 1220px;
    left: 300px;
}

#text3 {
    bottom: 1220px;
    left: 415px;
}

#footerImage {
    @include imgheader($header_mobile_height, $header_mobile_width);
    @include position($position);
    left: 6px;
}

#footerExplination {
    @include mainText($index_mobile_text_fontsize);
    bottom: 100px;
    left: 180px;
}

#socialmediaHeader {
   @include loggedinTextmobile($header_mobile_loggedin_fontsize);
   bottom: 202px;
   left: 330px;
}

#socialmediaLinks {
    @include mainText($index_mobile_text_fontsize);
    bottom: 212px;
    left: 354px;
}

#facebook {
    @include footerMediaFooter($index_mobile_socialmedia_height, $index_mobile_socialmedia_width);
    left: 333px;
    bottom: 257px;
}

#twitter {
    @include footerMediaFooter($index_mobile_socialmedia_height, $index_mobile_socialmedia_width);
    left: 317px;
    bottom: 234px;
}

#formHeader {
    @include ContactUs($index_mobile_scontactus_fontsize);
    left: 482px;
    bottom: 312px;
}

#fnameLabel, #lnameLabel, #subjectLabel  {
 @include mainText($index_mobile_text_fontsize);
}

#fnameLabel {
    left: 439px;
    bottom: 317px;
}

#fname, #lname, #subject {
    @include formsize($index_mobile_forms_height, $index_mobile_forms_width);
}

#fname {
    left: 443px;
    bottom: 316px;
}

#lnameLabel {
    left: 286px;
    bottom: 293px;
}


#lname {
    left: 292px;
    bottom: 290px;

}

#subjectLabel {
    left: 133px;
    bottom: 267px;
}

#subject {
    @include subjecTextarea($index_mobile_textarea_height, $index_mobile_textarea_width);
    left: 155px;
    bottom: 230px;
}


#submitButton {
    @include mobileSubmit($footer_form_submit_width, $footer_form_submit_height);
    left: 510px;
    bottom: 250px;
}

#logintextlogin {
@include loginheaderMobile ($login_fontsize_mobile);
left: 130px;
top: -6px;
}

#usernameemailabel  {
    @include loginlabelmobile($login_Label_fontsize_mobile);
}

.logIn {
@include loginBorder($login_bgc, $border_login_from, $login_border_radius, $login_height_mobile, $login_width_mobile);
left: 130px;
bottom: 320px;
}

#usernameemailinput {
   @include inputsizemobile($login_input_height_mobile, $login_input_width_mobile); 
   left: 4px;
   top: -12px;
}

#passwordlabel {
    @include loginlabelmobile($login_Label_fontsize_mobile);
    left: 53px;
    top: 40px;
   
}

#passworldinput {
    @include inputsizemobile($login_input_height_mobile, $login_input_width_mobile); 
    left: 67px;
    top: 40px;
}

#loginInput {
   @include loginButton($login_button_height_mobile, $login_button_width_mobile, $login_button_fontsize_mobile);
   left: 100px;
   top: 80px;

}

#container {
    @include siteRestriction($index_mobile_site_height, $overflow);
}



}








