//general
$bgc: #2c2b2a;
$position: relative;
$text_color: white;

//header
$border_radius: 8px;
$header_logo_height: 200px;
$header_logo_width: 300px;
$header_button_bgc: white;
$header_button_border: none;
$header_button_color: black;
$header_button_padding: 15px 32px;
$header_button_text_align: center;
$header_button_text_decoration: none;
$header_button_display: inline-block;
$header_button_fontsize: 30px;
$header_button_cursor: pointer;
$header_text_login_fontsize: 50px; 
$header_text_login_textalign: center;
$header_vl_borderleft: 6px solid white;
$header_vl_height: 200px;

