//general
$bgc: #2c2b2a;
$position: relative;
$text_color: white;
$overflow: hidden;
$site_height: 1710px;


//header
$border_radius: 8px;
$header_logo_height: 200px;
$header_logo_width: 300px;
$header_button_bgc: white;
$header_button_border: none;
$header_button_color: black;
$header_button_padding: 15px 32px;
$header_button_text_align: center;
$header_button_text_decoration: none;
$header_button_display: inline-block;
$header_button_fontsize: 30px;
$header_button_cursor: pointer;
$header_text_login_fontsize: 50px; 
$header_text_login_textalign: center;
$header_vl_borderleft: 6px solid white;
$header_vl_height: 200px;
$header_hl_border: 4px solid white;
$header_hl_border_radius: 2px;
$header_hl_width: 3100px;


//index.ejs
$main_vl_height: 1000px;
$main_vl_width: 30px;
$main_text_color: white;
$main_text_header_fontsize: 60px;
$main_text_posts_fontsize: 50px;


//footer
$footer_bgc: #546a75;
$footer_border: solid;
$footer_explination_width: 110px;
$footer_media_header_fontsize: 30px;
$footer_media_text_fontsize: 20px;
$footer_img_facebook_height: 25px;
$footer_img_facebook_width: 25px;
$footer_footer_form_text: 35px;
$footer_textarea_height: 80px;
$footer_textarea_width: 172px;
$footer_form_submit_width: 100px;
$footer_form_submit_height: 50px;
$footer_width: 3000px;


