//general
$bgc: #2c2b2a;
$position: relative;
$text_color: white;
$overflow: hidden;
$site_height: 1280px;


//header
$border_radius: 8px;
$header_logo_height: 200px;
$header_logo_width: 300px;
$header_button_bgc: white;
$header_button_border: none;
$header_button_color: black;
$header_button_padding: 15px 32px;
$header_button_text_align: center;
$header_button_text_decoration: none;
$header_button_display: inline-block;
$header_button_fontsize: 30px;
$header_button_cursor: pointer;
$header_text_login_fontsize: 50px; 
$header_text_login_textalign: center;
$header_vl_borderleft: 6px solid white;
$header_vl_height: 200px;
$header_hl_border: 4px solid white;
$header_hl_border_radius: 2px;
$header_hl_width: 3100px;


//index.ejs
$main_vl_height: 1000px;
$main_vl_width: 30px;
$main_text_color: white;
$main_text_header_fontsize: 60px;
$main_text_posts_fontsize: 50px;
$main_text_headline_fontsize: 30px;
$main_text_fontsize: 20px;

//login.ejs
$login_bgc: white;
$border_login_from: 2px solid black;
$login_border_radius: 9px;
$login_height: 500px;
$login_width: 600px;
$login_fontsize: 30px;
$login_Label_fontsize: 40px;
$login_input_height: 25px;
$login_input_width: 250px;
$login_button_height: 100px;
$login_button_width: 200px;
$login_button_fontsize: 30px;

//register.ejs



//footer
$footer_bgc: #546a75;
$footer_border: solid;
$footer_explination_width: 110px;
$footer_media_header_fontsize: 30px;
$footer_media_text_fontsize: 20px;
$footer_img_facebook_height: 25px;
$footer_img_facebook_width: 25px;
$footer_footer_form_text: 35px;
$footer_textarea_height: 80px;
$footer_textarea_width: 172px;
$footer_form_submit_width: 100px;
$footer_form_submit_height: 50px;
$footer_width: 3000px;

//media-query
$header_mobile_height: 100px;
$header_mobile_width: 150px;
$header_mobile_button_fontsize: 15px;
$header_mobile_button_width: 70px;
$header_mobile_hl_width: 900px;
$header_mobile_loggedin_fontsize: 15px;
$index_main_header_fontsize: 30px;
$index_main_posts_fontsize: 20px;
$index_mobile_vlmain_height: 500px;
$index_mobile_text_fontsize: 10px;
$index_mobile_socialmedia_height: 12px;
$index_mobile_socialmedia_width: 12px;
$index_mobile_scontactus_fontsize: 17px;
$index_mobile_forms_height: 10px;
$index_mobile_forms_width: 90px;
$index_mobile_textarea_height: 40px;
$index_mobile_textarea_width: 86px;
$index_mobile_site_height: 560px;
$index_mobile_site_width: 750px;
$footer_form_submit_width: 60px;
$footer_form_submit_height: 25px;
$login_height_mobile: 250px;
$login_width_mobile: 300px;
$login_fontsize_mobile: 15px;
$login_Label_fontsize_mobile: 20px;
$login_input_height_mobile: 12px;
$login_input_width_mobile: 125px;
$login_button_height_mobile: 50px;
$login_button_width_mobile: 100px;
$login_button_fontsize_mobile: 15px;
$login_mobile_site_height: 770px;